<div class="text-center align-middle">
  <span class="{{this.cellValueClasses}}">
    {{@cellValue}}
  </span>
  {{#if (eq @cellValue 0)}}
    <button
      type="button"
      {{on 'click' (fn @actions.onIncrementSchedules @row)}}
    >
      {{svg-jar 'circle-plus' class='icon' width='24px'}}
    </button>
  {{/if}}
</div>