<ModalDialog>
    <h5>
      {{@heading}}
    </h5>
    <div class="modal-content">
        {{yield (hash 
            Body=(component "ui/modal-body")
            Footer=(component "ui/modal-footer")
        )}}
    </div>
    
        
  </ModalDialog>